<div class="container">
    <div class="row">
        <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
            <article class="page animate">
                <div class="page__content">
                    {{site.sitedescription}}
                </div>
            </article>
            <!--
            <div class="contaniner__inner">
                <div class="row grid">
                    <div class="home_description col col-4 col-d-6 col-t-12 col-m-12 grid__post">
                        <div class="page__content">
                            {{site.sitedescription}}
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
