<style>
    .image-gallery {
        overflow: auto;
        margin-left: -1% !important;
    }

    .image-gallery li {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 19%;
    }

    .image-gallery li a {
        text-align: center;
        text-decoration: none !important;
        color: #777;
    }

    .image-gallery li a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }

    .image-gallery li a img {
        width: 100%;
        display: block;
    }
</style>

<ul class="image-gallery">
    {% for image in page.images %}
    {% if image.path == '.jpg' or file.path == '.jpeg' or file.path =='.JPG' or file.path == '.JPEG' %}
    {% assign filenameparts = image.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: file.path,"" %}
    <li>
        <a href="{{ file.path }}" title="{{ filename }}">
            <img src="{{ file.path }}&w=300&h=300&output=jpg&q=50&t=square"
                alt="{{ filename }}" title="{{ filename }}" />
            <span>{{ image.title }}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>