<style>
    .image-gallery-index {
        overflow: auto;
        margin-left: -1% !important;
    }

    .image-gallery-index a {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        text-decoration: none !important;
    }

    .image-gallery-index a img {
        width: 100%;
        display: block;
    }

    .image-gallery-index span{
        display: block;
        text-align: left;
        margin: 0 0 15px;
        font-size: 15px;
        line-height: 25px;
        color: #757679
    }
</style>
<p class="image-gallery-index">
    {% for item in page.images %}
    <a href="{{ item.path }}" title="{{ item.text }}">
        <img src="//wsrv.nl/?url={{ site.url | absolute_url }}{{ item.path }}&w=400&h=300&output=jpg&q=50" />
    </a>
    <span>
        {{ item.text | strip_html | truncate:110 }}
    </span>
    {% endfor %}
</p>
